

html, body
{
    height: 100%;
}

@media (min-width:1920px)
{
    body
    {
        background-image: url('assets/images/allura/allura_background-w1920.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
}

@media (min-width:3840px)
{
    body
    {
        background-image: url('assets/images/allura/allura_background-w3840.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
}

@media (min-width:992px) and (max-width:1919px)
{
    body
    {
        background-image: url('assets/images/allura/allura_background-w1280.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
}

@media (min-width:480px) and (max-width:992px)
{
    body
    {
        background-image: url('assets/images/allura/allura_background-w768.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
}

@media (max-width:479px)
{
    body
    {
        background-image: url('assets/images/allura/allura_background-w480.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #999;
    }
}

div, body
{
    margin: 0;
    padding: 0;
}
