

html, body
{
    height: 100%;
}

.full-bg
{
    /* background-image: url('assets/images/bg.jpg'); */
    background-image: url('assets/images/bg_image.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -100;
}

.full-bg { 
  -webkit-filter: grayscale(1); 
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
  filter: gray; 
  filter: grayscale(100%);
 }

.decorator-text
{
    color: #6A1B68;
}

.allura
{
    font-family: Allura;
}

.great-vibes
{
    font-family: 'Great Vibes';
}

.pinyon-script
{
    font-family: 'Pinyon Script';
}

#first_name
{
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 48pt;
    // font-size: 100%;
}

#surname
{
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 48pt;
}

#full_name
{
    position: absolute;
    top: 22%;
    left: 31%;
    /* top: 175px;
    left: 340px; */
}

#tag
{
    position: absolute;
    top: 105px;
    left: 60px;
    width: 190px;
    font-family: 'Source Sans Pro';
    font-size: 10pt;
    font-weight: bold;
}

#social
{
}

div, body
{
    margin: 0;
    padding: 0;
}

.font-label
{
    color: #6A1B68;
}

